.title {
  width: 100dvw;
  display: grid;
  place-content: center;
  position: relative;
}

.appContainer {
  display: grid;
  place-content: center;
  justify-items: center;
}

.title svg {
  position: absolute;
  left: 45%;
  top: 2.2rem;
  width: 4rem;
  height: 4rem;
  z-index: -1;
}

@media (max-width: 500px) {
  .title h1 {
    margin-top: 0;
    font-size: 2rem;
  }
  .title svg {
    width: 2rem;
    height: 2rem;
    top: 0.5rem;
    left: 25%;
  }
}
