@font-face {
  font-family: "Argent";
  src: url("./assets/fonts/ArgentPixelCF-Regular.woff2") format("woff2"),
    url("./assets/fonts/ArgentPixelCF-Regular.otf") format("otf");
  font-style: normal;
}
@font-face {
  font-family: "Argent";
  src: local("Argent Pixel CF"),
    url("./assets/fonts/ArgentPixelCF-Italic.woff2") format("woff2"),
    url("./assets/fonts/ArgentPixelCF-Italic.otf") format("otf");
  font-style: italic;
}

:root {
  font-family: "Argent", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: black;
  background-color: #ffdaec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  accent-color: hotpink;
}

h1 {
  font-family: "Argent";
  font-style: italic;
  font-size: 3em;
  line-height: 1.1;
}

body {
  height: 100dvh;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  border-radius: 0.4rem;
  color: white;
}

button:hover {
  color: black;
  background: none;
  border: solid 1px black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  padding: 0.3rem;
  background-color: #f2f2f2;
  color: black;
  border: solid 1px black;
  border-radius: 0.2rem;
}

::view-transition-old(root),
::view-transition-new(root) {
  overflow: clip;
}

.validation-error {
  color: red;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
}
