.gamePadContainer {
  background: radial-gradient(
    at 55% 55%,
    #bf5169 0%,
    rgba(191, 81, 105, 0) 50%
  );
  padding: 2rem;
  width: fit-content;
}
.gamePad {
  display: grid;
  grid-template: repeat(3, 3em) / repeat(3, 3rem);
  --button-border-radius: 0.3rem;

  overflow: visible;
  width: fit-content;
}

.gamePad button {
  border: none;
  background: black;
  cursor: pointer;
  padding: 0;
  border-radius: 4em;
  width: 4rem;
  height: 4rem;
  /* Ellipse 2 */
}

.gamePad button:hover > svg {
  stroke: black;
}

.gamePad button svg {
  width: 2rem;
  height: 2rem;
  transition: 0.1s;
  transform: translateX(-2px);
  stroke: white;
}

.gamePad button:hover > svg {
  transform: translateX(-4px);
}

.left {
  grid-column: 1;
  grid-row: 2;
}

.right {
  grid-column: 3;
  grid-row: 2;
}

.right:hover > .gamePad {
  background: radial-gradient(at right, #bf5169 0%, rgba(191, 81, 105, 0) 70%);
}

.right svg {
  rotate: 180deg;
}

.up {
  grid-column: 2;
  grid-row: 1;
}
.up svg {
  rotate: 90deg;
}

.down {
  grid-column: 2;
  grid-row: 3;
}
.down svg {
  rotate: -90deg;
}

/* Button hover states */
.gamePadContainer:has(.left:hover) {
  background: radial-gradient(
    at 50% 55%,
    #bf5169 0%,
    rgba(191, 81, 105, 0) 50%
  );
}
.gamePadContainer:has(.right:hover) {
  background: radial-gradient(
    at 60% 55%,
    #bf5169 0%,
    rgba(191, 81, 105, 0) 50%
  );
}
.gamePadContainer:has(.up:hover) {
  background: radial-gradient(
    at 55% 50%,
    #bf5169 0%,
    rgba(191, 81, 105, 0) 50%
  );
}
.gamePadContainer:has(.down:hover) {
  background: radial-gradient(
    at 55% 60%,
    #bf5169 0%,
    rgba(191, 81, 105, 0) 50%
  );
}
